
body {
  background-color: #280000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40rem;
}

.menu_butt {
    --c: red;
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  .menu_butt:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  .menu_butt:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
  }

  .menu_butt {
    height: 3rem;
    width: 15rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px 25px; 
    border: none;
  }

#backButt {
    position: absolute;
    bottom: 2%;
}

img {
    width: 400px;
    height: auto;
}

.choices .menu_butt {
    width: 7rem;
    height: 2rem;
}

.choices {
    text-align: center;
}

.shoeSelect {
    display: none;
    align-items: center;
}

.shoeSelect fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    width: 25rem;
    border-color: red;
}

fieldset div {
    padding: 0.5rem 1rem;
}

.form {
    width: 25rem;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form .menu_butt {
    width: 20%;
    height: 2rem;
    font-size: 1rem;
    margin: 0 1rem;
}

.inField {
    font-size: 1rem;
    text-align: center;

    margin-left: 0.5%;
    width: 85%;
    height: 2rem;
}



.menu_butt {
    --c: #ff1111;
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  .menu_butt:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  .menu_butt:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
  }

  .menu_butt {
    height: 2rem;
    width: 10rem;
    color: #fff;
    font-size: calc(18px + 1fr);
    cursor: pointer;
    padding: 5px 25px; 
    border: none;
  }